{% extends "formation/header.html" %}
{% block main_css %}
<style type="text/css">
    .content-login {
        text-align: center;
        width: 47%;
        margin: 0 auto;
    }
    .login-form {
        display: flex;
        flex-direction: row;
        margin-top: 15%;
    }

</style>

{% endblock %}

{% block main_content %}
<div class="content-login">
    {% if verification && !login %}
    <div class="alert alert-danger" role="alert">
        登录密码错误
    </div>
    {% endif %}
    <h1 style="margin-top: 23%;">欢迎进入Dijan管理界面</h1>
    <form action="/login" method="post" class="login-form">
        <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping" style="height: 40px;">登录密码</span>
            </div>
            <input name="password" style="height: 40px; width: 130px;" type="password" class="form-control" placeholder="password" aria-label="password" aria-describedby="addon-wrapping">
        </div>
        <button style="height: 40px; width: 100px; font-size: 15px" type="submit" class="btn btn-secondary">登录</button>
    </form>

</div>
{% endblock %}