{% extends "formation/header.html" %}
{% block main_css %}
<style type="text/css">
    .content {
        display: flex;
        flex-direction: row;
    }

    .content-right {
        height: 90vh;
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    .total-data {
        height: 60%;
        border-bottom: 1px solid #e3e3e3;
        padding: 30px;
    }
    .delete_all {
        height: 250px;
        width: 400px;
        border: 1px solid #d4d4d4;
        background-color: white;
        position: absolute;
        left: 50%;
        margin-left: -200px;
        top: 50%;
        margin-top: -200px;
        border-radius: 15px;
    }

    .delete_all button {
        position: relative;
        left: 40px;
        top: 60px;
        font-size: 15px;
        text-indent: 5px;
        letter-spacing: 8px;
    }
    .system-data {
        font-size: 20px;
        display: flex;
        flex-direction: row;
        margin-left: 40px;
        color: #364657;
    }
    .system-data span {
        margin-left: 3%;
    }
    .home-manage {
        height: 40%;
        padding: 30px;
    }
</style>

{% endblock %}
{% block main_content %}
{% include "formation/left_navigation_bar.html" %}
<div class="content-right">
    <div class="total-data">
        <h3>系统数据</h3><br>
        <div class="system-data">
            <span>物理节点数: <a href="#">{{ node_number }}</a></span>
            <span>总节点数: <a href="#">{{ circular_number }}</a></span>
            <span>存储总记录: <a href="#">{{ keys }}</a></span>
            <span>存储占用内存: <a href="#">{{ size }} MB</a></span>
        </div>
    </div>
    <div class="home-manage">
        <h3>管理:</h3>
        <ul style="padding: 10px;">
            <li class="list">
                <a href="#" onclick="rebalance()">节点再平衡</a>
            </li>
            <li class="list">
                <a href="#" onclick="show_delete()">清空数据库</a>
            </li>
        </ul>
    </div>
</div>
<div class="delete_all">
    <h3 style="text-align: center;margin-top: 50px;">确认删除?</h3>
    <button value="" id="delete-bu" type="button" class="btn btn-danger" onclick="empty()">删除</button>
    <button style="left: 180px" type="button" class="btn btn-secondary" onclick="close_div('fast')">取消</button>
</div>
{% endblock %}
{% block main_content_js %}
<script>

    function close_div(sudu) {
        $('.delete_all').hide(sudu);
    }

    function show_delete() {
        $('.delete_all').show('fast');
    }

    function rebalance() {
        $.ajax({
            type: "GET",
            url: "/api/rebalance",
            contentType: "application/json; charset=utf-8",
            xhrFields: {
                withCredentials: true
            },
            datatype: "json",
            success: function() {
                let alert_string = "<div class=\"alert alert-success\"> <a href=\"#\" class=\"close\" data-dismiss=\"alert\"> &times; </a> <strong>后台已启动节点再平衡工作！ </div>";
                $('.content-right').prepend(alert_string);
                window.setTimeout(function(){
                    location.reload()
                },2000);
            },
            error: function() {
                var alert_string = "<div class=\"alert alert-danger\"> <a href=\"#\" class=\"close\" data-dismiss=\"alert\"> &times; </a> <strong>操作失败！ </div>"
                $('.content-right').prepend(alert_string);
                window.setTimeout(function(){
                    location.reload()
                },1000);
            }
        })
    }

    function empty() {
        $.ajax({
            type: "GET",
            url: "/api/empty_all",
            contentType : "application/json; charset=utf-8",
            xhrFields: {
                withCredentials: true
            },
            datatype: "json",
            success: function(data) {
                var alert_string = "";
                if (data.status === true) {
                    alert_string = "<div class=\"alert alert-success\"> <a href=\"#\" class=\"close\" data-dismiss=\"alert\"> &times; </a> <strong>清空成功！ </div>";
                } else {
                    alert_string = "<div class=\"alert alert-danger\"> <a href=\"#\" class=\"close\" data-dismiss=\"alert\"> &times; </a> <strong>清空失败！ </div>"
                }

                $('.content-right').prepend(alert_string);
                window.setTimeout(function(){
                    location.reload()
                },1000);
            },
            error: function() {
                var alert_string = "<div class=\"alert alert-danger\"> <a href=\"#\" class=\"close\" data-dismiss=\"alert\"> &times; </a> <strong>清空失败！ </div>"
                $('.content-right').prepend(alert_string);
                window.setTimeout(function(){
                    location.reload()
                },1000);
            }
        })
    }
    close_div()

</script>
{% endblock %}